/* Treebeard Admin */

.drag-handler {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url(drag.svg);
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    opacity: 0.3;
}

.drag-handler.active {
    cursor: move;
    opacity: 0.6;
}

.spacer {
    width: 10px;
    margin: 0 10px;
}

.treebeard-collapse::before {
    display: block;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    content: "+";
    color: #000;
    font-weight: bold;
    background-color: #DDD;
    border-radius: 4px;
}

.treebeard-collapse.treebeard-expanded::before {
    content: "-"
}

#drag-tooltip {
    position: absolute;
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background: #FFD;
    color: #000;
    left: 100px;
    text-align: center;
    border: 1px solid #000;
}

@keyframes highlightMoved {
  0%  {background-color:yellow;}
  100% {background-color:inherit;}
}

.recently-moved-node {
    animation-name: highlightMoved;
    animation-duration: 5s;
}

.active-node {
    background-color: #B7D7E8 !important;
}

.target-node-parent {
    background-color: rgba(170, 0, 170, 0.4) !important;
}

.target-node-sibling {
    border-top: 2px solid rgba(170, 0, 170, 1) !important;
}

#ghost {
    position: absolute;
    width: 600px;
    top: -10000px;
}
