/* Treebeard Admin */

#roots {
margin: 0; padding: 0;
}
#roots li {
list-style: none;
padding: 5px !important;
line-height: 13px;
border-bottom: 1px solid #EEE;
}
#roots li a {
font-weight: bold;
font-size: 12px;
}
#roots li input {
margin: 0 5px;
}
.drag-handler span {
width: 16px;
background: transparent url(expand-collapse.png) no-repeat left -48px;
height: 16px;
margin: 0 5px;
display: inline-block;
}
.drag-handler span.active {
background: transparent url(expand-collapse.png) no-repeat left -32px;
cursor: move;
}
.spacer {
width: 10px;
margin: 0 10px;
}
.collapse {
width: 16px;
height: 16px;
display: inline-block;
text-indent: -999px;
}
.collapsed {
background: transparent url(expand-collapse.png) no-repeat left -16px;
}
.expanded {
background: transparent url(expand-collapse.png) no-repeat left 0;
}
#drag_line {
border: 3px solid #A0A;
display: block;
position: absolute;
line-height: 0;
height: 0px;
}
