[run]
branch = True
source = treebeard
parallel = True

[paths]
source =
    ./
    *\workspace\django-treebeard\tox_db\*\tox_django\*\tox_python\*\os\windows
    */jobs/django-treebeard/workspace/
    */workspace/django-treebeard/

[report]
omit =
    */tests/*
precision = 2
