*.pyc
.project
.pydevproject
.settings
.cache
.idea
.ropeproject
.tox
*.coverage
*~
*.sqlite
*.swp
*coverage.xml
*egg-info*
docs/build
dist
htmlcov
test-reports
bin/
include/
lib/
distribute*
share/
.DS_store
