.DS_Store
.buildinfo
.tests
*.pyc
*.orig
*.swp
.coverage
build
dist
_build
MANIFEST
.project
.pydevproject
.settings
htmlcov
.tox
*.egg-info
.cache
.idea
.ropeproject
*.coverage
*~
*.sqlite
*coverage.xml
*egg-info*
docs/build
test-reports
bin/
include/
lib/
distribute*
share/
venv/
.DS_store
