image: Visual Studio 2019

services:
  - mssql2019

environment:
  matrix:
    - TOXENV: py36-dj22-mssql
    - TOXENV: py37-dj22-mssql
    - TOXENV: py38-dj22-mssql
    - TOXENV: py39-dj22-mssql
    - TOXENV: py36-dj30-mssql
    - TOXENV: py37-dj30-mssql
    - TOXENV: py38-dj30-mssql
    - TOXENV: py39-dj30-mssql
    - TOXENV: py36-dj31-mssql
    - TOXENV: py37-dj31-mssql
    - TOXENV: py38-dj31-mssql
    - TOXENV: py39-dj31-mssql

matrix:
  fast_finish: true

install:
  - C:\Python36\python -m pip install tox

build: false  # Not a C# project

test_script:
  - C:\Python36\scripts\tox
