services:
  - mssql2016

environment:
  matrix:
    - TOXENV: py27-dj18-mssql
    - TOXENV: py27-dj19-mssql
    - TOXENV: py27-dj110-mssql
    - TOXENV: py35-dj19-mssql
    - TOXENV: py36-dj110-mssql

matrix:
  fast_finish: true

install:
  - C:\Python36\python -m pip install tox

build: false  # Not a C# project

test_script:
  - C:\Python36\scripts\tox
