include CHANGES LICENSE NOTICE README.rst UPDATING MANIFEST.in
recursive-include docs Makefile README.rst *.py *.rst
recursive-include tbbench tbbench-* *.py
recursive-include tbexample *.py *.html
recursive-include treebeard *.py *.html
