{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../">{{ app_label|capfirst }}</a> &rsaquo; {{ opts.verbose_name_plural|capfirst }}</div>{% endblock %}

{% block extrahead %}{{ block.super }}
{{ media }}
<script type="text/javascript">
//<![CDATA[

function buildNSW()
{
	$('#my_widget').NestedSortableWidget({
		loadUrl: "json/?rnd="+Math.random(),
		serializeWithJSON: true,
		nestedSortCfg: {
			nestingPxSpace: '15'
		},
		onSave: function(){
			$('#my_widget').NestedSortableWidgetDestroy();
			buildNSW();
		},
	});
}

$(window).load(function(){
	buildNSW();
});

//]]>
</script>
<style type="text/css" media="screen">
    ul li {
    	list-style-type: none;
    }</style>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    {% if has_add_permission %}
    <ul class="object-tools"><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
    {% endif %}
    {% endblock %}

    <form action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% admin_actions %}
        <div id="my_widget"></div>
    </form>

</div>

{% endblock %}
